version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: fitme_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true

