version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: fitme_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    stdin_open: true
    tty: true

  backend:
    build: ./backend
    container_name: fitme_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules

